/pad*
/log*
*.bak
/node_modules/
/package-lock.json
/config.json

/sync/*
!/sync/.placeholder
!/sync/*_default.*

/.db/*
!/.db/.placeholder

/es5/

# crapprotector if accidental in current directory
/_replicator/
/_users/
/pouch__all_dbs__/

# crapdb
/test/