<html>

<head>
    <script src="//cdn.jsdelivr.net/pouchdb/latest/pouchdb.min.js"></script>
</head>

<body>Edit
    <hr>
    <div contenteditable="true"></div>
    <hr>
    <div>
        <a href="/index.html" target="_blank">Dup</a>&nbsp; &nbsp;
        <a href="http://localhost:5984/_utils/#database/kittens/_all_docs">PouchDB Server kittens</a>&nbsp; &nbsp;
        <a href="http://localhost:5984/kittens">localhost:5984/kittens</a>&nbsp; &nbsp;
        <a href="http://localhost:5984/_utils/#login?urlback=">PouchDB Serverlogin</a>&nbsp; &nbsp;
        <a href="https://pouchdb.com/guides/databases.html">Working with databases</a>
    </div>
    <script src="main.js"></script>


</body>

</html>