<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="//cdn.jsdelivr.net/pouchdb/latest/pouchdb.min.js"></script>
</head>

<body>
    <div id="copy">Edit
        <hr>
        <div id="edit" contenteditable="true"></div>
        <hr>
        <button onclick="test()">push</button>&nbsp; &nbsp;
        <a href="/index.html" target="_blank">Dup</a>&nbsp; &nbsp;
        <a href="https://time.is/" target="_blank">Time.is</a>&nbsp; &nbsp;
        <a href="/_utils/" target="_blank">Local Fauxton</a>&nbsp; &nbsp;
        <a href="https://uhr.ptb.de/" target="_blank">PTB Uhr</a>&nbsp; &nbsp;
        <a href="https://pouchdb.com/guides/databases.html" target="_blank">Working with databases</a>
    </div>
    <pre id="status">DB?</pre>
    <hr>
    <pre id="echo"></pre>
    <script src="/c/config.js"></script>
    <script src="/c/main.js"></script>






</body>

</html>